<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.label :name %>
  <%= form.text_field :name, {class: "form-control col-sm-6" } %>
  <%= form.label :description %>
  <%= form.text_area :description, {class: "form-control col-sm-6", rows: 10} %>
  <br>
  <%= form.file_field :files, multiple: true %>
  <br>
  <br>
  <div class="actions">
    <%= form.submit "Submit", { class: "btn btn-primary btn-lg col-sm-6 bg-secondary"} %>
  </div>
<% end %>
