<% if notice.present?%>
  <div class="alert alert-danger" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<% @document.files.each do |file|%>
  <%= link_to "Preview", rails_blob_path(file, disposition: 'preview') %>
  <br>
  <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %>
  <br>
  <%= link_to 'Remove', delete_file_document_path(file.id),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>
<%= link_to 'Edit', edit_document_path(@document) %>
<%= link_to 'Back', documents_path %>
