<!DOCTYPE html>
<html>
  <head>
    <title>DocumentService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <div class="sidenav">
          <br>
          <h1><span class="badge badge-secondary col-sm-12 bg-danger">Document Service</span></h1>
          <br>
            <%= link_to "All document", documents_path, { class: "btn btn-primary btn-lg btn-block col-sm-12 bg-secondary"} %>
            <br>
            <%= link_to "Create new document", new_document_path, { class: "btn btn-primary btn-lg btn-block col-sm-12 bg-secondary  "} %>
          <br>
            <h4>
              <% if user_signed_in? %>
                <h2><span class="badge badge-secondary col-sm-12 bg-danger">Logged in as: <br> <%= current_user.email %></span><h2>
                <br>
                <%= link_to "Edit profile", edit_user_registration_path, { class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %>
                <br>
                <br>
                <%= link_to "Logout", destroy_user_session_path, {method: :delete,  class: "btn btn-danger btn-lg col-sm-12"} %>
                <br>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path,{ class: "btn btn-primary btn-lg col-sm-12 bg-secondary"} %>
                <br>
                <br>
                <%= link_to "Login", new_user_session_path, { class: "btn btn-success btn-lg col-sm-12"}  %>
                <br>
              <% end %>
            </h4>
          </div>
        </div>

        <div class="col-sm-10" >
          <br>
          <%= yield %>
        </div>
        </div>
      </div>
  </body>
</html>
